<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673777223173-m7lc62v9ikse8rcsujr05r0ot60f3qdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673777223173-m7lc62v9ikse8rcsujr05r0ot60f3qdd</string>
	<key>API_KEY</key>
	<string>AIzaSyAcSPGMJQtF5Z1a7vClDWt0DiYz3L1lSeI</string>
	<key>GCM_SENDER_ID</key>
	<string>673777223173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fanpageFlutter</string>
	<key>PROJECT_ID</key>
	<string>fanpage-app-cced6</string>
	<key>STORAGE_BUCKET</key>
	<string>fanpage-app-cced6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673777223173:ios:15afa22889263e60aabe6c</string>
</dict>
</plist>